<form action="." method="POST">
    <input name='plug_id' type='text' placeholder="Plug_ID" value='2'/><br/>
    <input name='startDate' type='text' placeholder='Must be in JSON format “2019-03-30T00:00:00.000Z”' value='2019-03-30T00:00:00.000Z'/><br/>
    <input name='endDate' type='text' placeholder='Must be in JSON format “2019-03-30T23:59:59.999Z”' value='2019-03-30T23:59:59.999Z'/><br/>
    <input name='offset' type='hidden' value='false'/><br/>
    <input type='submit' value='Submit'>
</form>