<!DOCTYPE html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script type="text/javascript">
      
      

      function loadNextGenData(){
        $.get( "/next", buildDataSet)
      }

      function buildDataSet(){
        $.get( '/data', function(data){
          var result = [['Tempo', 'Carga Inicial', 'Melhor Carga', 'Carga Atual']]
          for(var i = 0; i < data.initialLoad.length; i++){
            result[i+1] = [
              i+'', 
              data.initialLoad[i], 
              data.best[i], 
              data.current[i]
              ];
          } 
          drawChart(result);
        })
      }

      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(buildDataSet);


      function drawChart(graphData) {
        var data = google.visualization.arrayToDataTable(graphData);
        var options = {
          title: 'SmartCharge',
          legend: { position: 'right' }
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

    </script>
    <title>
      SmartCharge
    </title>
  </head>
  <body>  
    <div>
      <button name="load data" onclick="loadNextGenData()">Next Gen</button>
    </div>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>